/* You can add global styles to this file, and also import other style files */
$danger-color: #FF0000;
$main-color: #04AA6D;
$second-color: #333;

select {
  font-size: .9rem;
  padding: 2px 5px;
}

input[type="text"], input[type="number"], input[type="checkbox"] {
  font-size: .9rem;
  padding: 2px 5px;
}

.is-invalid {
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button-receipt {
  font-size: 16px;
  padding: 12px 25px;
  background-color: $main-color; /* Green */
  border-radius: 12px;
  float: right;
}

.button-add {
  font-size: 14px;
  padding: 8px 16px;
  background-color: $second-color; /* Green */
  border-radius: 8px;
}

.button-remove {
  font-size: 14px;
  padding: 5px 10px;
  background-color: $danger-color; /* Green */
  border-radius: 10px;
}

.error {
  color: $danger-color;
  font-size: 14px
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60em;
  font-size: 16px
}

.column {
  display: table;
  float: left;
  margin-left: 3%;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
}

